# Byte-compiled / Python cache
__pycache__/
*.py[cod]

# Environment
icg_env/
venv/

# Model checkpoints & vocab
*.pth
vocab.pkl
vocab.json

# Dataset files (if local)
Flickr8k_Dataset/
flickr8k_captions.json

# IDE files
*.idea/
*.vscode/
